* {
  box-sizing: border-box;
}
.calcu-body {
  width: 500px;
  height: 600px;
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
  justify-content: space-evenly;
  align-items: center;
}

.calcu-display {
  width: 450px;
  height: 200px;
  border: solid 1px black;
  /*margin: 25px;*/
}

.num-container {
  display: flex;
  margin: 0 18px 0px 18px;
  width: 450px;
  height: 325px;
  /*border: solid 1px black;*/
  flex-direction: column;
}

.otherButtons {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
}
.numOperation {
  display: flex;
  justify-content: space-between;
}

.numbers {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 3;
  justify-content: space-between;
  align-content: space-between;
}

.operations {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
button {
  width: 112px;
  height: 65px;
}

.numZero {
  flex-grow: 3;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;

  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  background-color: white;
  z-index: 10;
  display: flex;
  flex-direction: column;
}

.close-modal {
  font-size: 35px;
  padding: 0;
  height: 35px;
  width: 35px;
  display: flex;
  position: absolute;

  right: 2rem;
  color: #333;
  background: none;
  border: none;
}

.modal-buttons {
  display: flex;
  justify-content: right;
  padding: 0;
}

.clear,
.cancel {
  width: 70px;
  height: 50px;
  border-radius: 5px;
}

.error-msg {
  font-size: 25px;
}
