* {
  box-sizing: border-box;
}
.calcu-body {
  width: 500px;
  height: 600px;
  border: solid 1px black;
  display: flex;
  flex-direction: column;
}

.calcu-display {
  width: 450px;
  height: 200px;
  border: solid 1px black;
  margin: 25px;
}

.num-container {
  display: flex;
  margin: 0 25px 25px 25px;
  width: 450px;
  height: 325px;
  border: solid 1px black;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-evenly;
}

button {
  width: 100px;
  height: 65px;
}
